@charset "UTF-8";

@import 'reset';
@import 'variables';
@import 'fonts';
@import 'mixins';
@import 'core';

@import 'blocks/intro.scss';
@import 'blocks/core-structure.scss';
@import 'blocks/process.scss';