* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}
header {
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  background-color: rgba(32, 0, 68, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 40px;
  margin: 0px;
  background-color: rgb(64, 64, 64);
}

.right-block {
  display: flex;
  justify-content: end;
  align-items: center;
}
.right-block nav {
  margin-right: 40px;
}
.menu {
  display: flex;
  gap: 16px;
  list-style: none;
}
.menu a {
  text-decoration: none;
  color: aliceblue;
}
.header__logo img {
  height: 40px;
}
.buttons button {
  display: inline-block;
  padding: 0.6em 1.6em;
  margin-inline-start: 8px;
  font-weight: 600;
  text-align: center;
  border: none;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
button:hover {
  background-color: #1d4ed8; /* Темнее */
    transform: scale(1.03);
  -webkit-text-fill-color: aliceblue;
}
button:active {
  transition: none;
  background-color: #1e40af; /* Ещё темнее */
}



